.color-th{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    /*background-color: blue;*/

}
.color-td{
    background-color: blue;
    width: 60px;
    height: 60px;
    padding: 5px;
    border: 1px solid #000;
}
td div{
    border: 1px solid #000;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: white;
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid red;
}
#container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid red;
}
table {
    /*border-spacing: 10px 5px;*/
    border-collapse: collapse;
}
.player{
    background-color: red;
}
.cpu {
    background-color: yellow;
}

#infoTurn.player {
    background-color: white;
    color: red;
}
#infoTurn.cpu {
    background-color: white;
    color: yellow;
}
#infoWinner {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #000;
    color: blue;
    font-size: 20px;
    font-weight:900;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
}
#btnPlayAgain {
    display: none;
}