.color-th{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    /*background-color: blue;*/

}
.color-td{
<<<<<<< HEAD
    background-color:red;
    height: 50px;

=======
    background-color: blue;
    width: 60px;
    height: 60px;
    padding: 5px;
    border: 1px solid #000;
}
td div{
    border: 1px solid #000;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: white;
>>>>>>> a79543ba0c37e3f73fe04b770bc57bbdc3071d80
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid red;
}
#container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid red;
}
table {
    /*border-spacing: 10px 5px;*/
    border-collapse: collapse;
}
.jugador-humano{
    background-color: red;
}
.cpu {
    background-color: yellow;
}
#infoTurno.jugador-humano {
    background-color: white;
    color: red;
}
#infoTurno.cpu {
    background-color: white;
    color: yellow;
}